

/*
Author: Bootstrapthemes
Author URI: http://www.xpeedstudio.com
*/

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 1rem;
    }






}



/* Portrait tablets and small desktops */
@media (max-width: 991px) {

    body .home{
        background: url(../images/background/mobi/header.jpg) no-repeat center center;
    }

    body .impress{
        background:url(../images/background/mobi/work-together.jpg) no-repeat center center;
    }

    .sm-text-center{
        text-align: center !important;
    }
    .sm-pull-none{
        float: none !important;
    }
    .sm-m-top-10{
        margin-top:10px;
    }
    .sm-m-top-20{
        margin-top:20px;
    }
    .sm-m-top-30{
        margin-top:30px;
    }
    .sm-m-top-50{
        margin-top:50px;
    }

    .mobile-hide {
        display: none;
    } 
    .mobile-show{
        display: block;
    }
    .main_home {
        padding-top: 10px;
        padding-left: 10px;
    }
    .main_home img{
        width: 80%;
    }

}



/* Landscape phones and portrait tablets */
@media  (max-width: 768px) {
    
    .home_text h1 {
        font-size: 3.5rem;
    }
    .home_text p{
        padding-top: 1em;;
        font-size: 2.2rem;
        text-shadow: 2px 2px 8px #000;
    } 

    .main_home img{
        margin-left: -0.5em !important;
    }
    
    h2{
        font-size:2rem;
    }
    p{
        font-size:90%;
        line-height: 2rem;
    }
    .xs-pull-none{
        float: none !important;
    }
    .xs-text-center{
        text-align: center !important;
    }
    .xs-m-top-10{
        margin-top:10px;
    }
    .xs-m-bottom-10{
        margin-bottom:10px;
    }
    .xs-m-bottom-20{
        margin-bottom:20px;
    }
    .main_testimonial .testimonial_slid .slick-arrow.nextprevright {
        top: -150px;
    }

    .mobile-phone {
        display: inline;
    }

    #title_logo {
        font-family: 'Roboto', sans-serif;
        font-size: 5rem;
        font-weight: lighter;
        line-height: 4rem;

    }
    
    #title_logo_sub {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.65rem;
        font-weight: lighter;
        line-height: 4rem;
        letter-spacing: 0.08em;;
    }

}




/* Landscape phones and smaller */
@media (max-width: 479px) {
    html {
        font-size: 85%;
    }
    .testimonial_slid .slick-arrow {
        display: none;
    }

}





@media (max-width: 400px) {


}

@media (max-width: 320px) {
    html {
        font-size: 60.5%;
    }
    .btn.btnxs{
        padding:2.01rem 1.5rem;
    }

}



